/* css reset */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url('./pexels-binyamin-mellish-116079.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left{
    position: absolute;
    left: 50px;
    top: 20px;
    display: inline-block;
    color: white;
    
}
.left img{
    width: 135px;
}
.left div{
    line-height: 19px;
    text-align: center;
    font-size: 19px;
}
.mid{
    display: block;
    width: 45%;
    margin: 20px auto;
}

.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 44px 23px;
    
}
.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: red;
}
.right{
    position: absolute;
    right: 34px;
    top: 32px;
    display: inline-block;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    margin: 0px 9px;
    background-color: white;
    color: black;
    padding: 2px 14px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    color: red;
    background-color: rgb(63, 59, 59);
}
.container{
 
    padding: 75px;
    margin: 106px 80px;
    width: 33%;
    border-radius: 28px;
}
.container h1{
    text-align: center;
    color: white;
}
.form-group input{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display:block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin:10px 12px;
    font-size: 20px;
    border-radius: 8px;
}


.container button{
    display: block;
    width: 74%;
    margin: 18px 24px;
}